@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #055195;
  --secondary: #c4d6b0;
  --accent: #e53d00;
  --foreground: #080708;
  --background: #ffffff;
  --foreground-muted: #404040;
  --radius: 0.5rem;

  /* Scroll Bar */
  --sb-track-color: var(--background);
  --sb-thumb-color: var(--primary);
  --sb-size: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  line-height: 130%;
}
p,
span {
  line-height: 150%;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
@layer base {
  .h1 {
    @apply text-[61px] leading-[130%] text-foreground;
  }
  .h2 {
    @apply text-[49px] leading-[130%] text-foreground;
  }
  .h3 {
    @apply text-[39px] leading-[130%] text-foreground;
  }
  .h4 {
    @apply text-[31px] leading-[130%] text-foreground;
  }
  .h5 {
    @apply text-[25px] leading-[130%] text-foreground;
  }
  .h6 {
    @apply text-[20px] leading-[130%] text-foreground;
  }
  .p {
    @apply text-ellipsis break-words text-[16px] leading-[150%] text-foreground-muted;
  }
  .span {
    @apply leading-[150%] text-foreground-muted;
  }
  .small {
    @apply text-[13px] leading-[150%] text-foreground-muted;
  }
  .caption {
    @apply text-[10px] leading-[150%] text-foreground-muted;
  }
}

@layer components {
  .header {
    @apply fixed top-0 z-[998] w-full border-b border-neutral-300 bg-background;
  }
  .inner-header {
    @apply flex h-full w-full items-center justify-between;
  }
  .hero {
    @apply mt-[90px] w-full;
  }
  .about {
    @apply w-full;
  }
  .benefits {
    @apply flex h-fit min-h-[500px] w-full flex-col items-center justify-center bg-primary-50;
  }
  .aboutus {
    @apply h-fit w-full;
  }
  .services {
    @apply h-fit w-full;
  }
  .section-heading {
    @apply flex flex-col items-start justify-center;
  }
  .herowithbreadcrumb {
    @apply mt-[90px];
  }
  .footer {
    @apply h-fit w-full bg-primary-800;
  }
}

@layer utilities {
  .layout {
    @apply mx-auto w-full max-w-screen-2xl overflow-hidden px-5 py-[50px] md:p-[50px] lg:p-[70px];
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
